tox>=3.24.5,<5.0.0
black==24.10.0
isort>=5.10.1,<6.0.0
mypy==1.13.0
pytest-cov>=3.0.0,<7.0.0
pytest>=6.2.5,<9.0.0
pylama==7.7.1 ; python_version < "3.7"
pylama>=8.3.7,<9.0.0 ; python_version >= "3.7"
pylint>=2.16.0,<4.0.0
pycodestyle>=2.8.0,<3.0.0
pydocstyle==6.3.0
nornir_utils>=0.1.0
# toml for parsing pyproject.toml for dev deps
toml>=0.10.2,<1.0.0
-r requirements.txt
