name: Weekly Build

on:
  schedule:
    # weekly at 0300 PST/1000 UTC on Sunday
    - cron: '0 10 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 8
      matrix:
        os: [ubuntu-latest, macos-latest]
        version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
        with:
          ref: main
      - name: set up python ${{ matrix.version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.version }}
      - name: setup test env
        run: |
          python -m pip install --upgrade pip
          python -m pip install setuptools
          python -m pip install tox
      - name: run tox
        run: python -m tox --skip-missing-interpreters=true
